#page_head{
   display: grid;
    grid-template-columns: repeat(autofit, minmax(250,1fr));
    background-color: darkgray;
    
}
#logo{
    
    padding:0px;
    margin:0px;
}
#menu{
  
    margin: 0px;
    padding: 0px;
    
}